@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

:root {
    --color-foreground: #2b2b2b;
    --color-background: #fdfdfd;
    --color-background-header: #fdfdfd;
    --color-primary: #7c68d0;
    --color-primary-transparent: #7c68d0aa;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: var(--color-background);
    color: var(--color-foreground);
}

header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--color-background-header);
}

main ul li {
    list-style-type: disc;
}

main section {
    margin: 0 0 3.052rem 0;
}

main article {
    margin: 0 0 1.563rem 0;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 25px;
}

#main-title {
    margin: 0 0;
}

#main-subtitle {
    margin-top: 0;
    color: var(--color-foreground);
}

#intro {
    margin: 1.953rem 0;
    font-family: 'JetBrains Mono', monospace;
}

#main-navigation ul {
    padding: 0;
}

#main-navigation ul li {
    list-style-type: none;
    display: inline;
    margin: 0 0.64rem 0 0; 
}

@media (max-width: 460px) {
    #main-navigation ul li {
        display: block;
        margin: 0.64rem 0 0 0;
    }
}

a:link,
a:visited {
    color: var(--color-primary);
    text-decoration: none;
    font-weight: 600;
    border-bottom: 3px solid var(--color-primary-transparent);
}

#back-to-the-beginning {
    margin: 0 0 3.052rem 0;
}

h1 {
    font-size: 3.052rem;
    line-height: 100%;
    margin: 2.441rem 0;
    color: var(--color-primary);
}

h2 {
    font-size: 2.441rem;
    line-height: 100%;
    margin: 1.953rem 0;
}

h3 {
    font-size: 1.953rem;
    line-height: 100%;
    margin: 1.563rem 0;
    color: var(--color-primary)
}

h4 {
    font-size: 1.563rem;
    line-height: 100%;
    margin: 1.25rem 0;
}
